/* Universal structure */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*font and padding for texts*/

p {
    font-size: 16px;
    padding-bottom: 24px;
    color: #ffffff
}

/* Header color & font */
/* Changed .header into <header> for semantics */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*horiseon font size & positioning*/
/* Changed .header h1 into h1 for semantics */
h1 {
    display: inline-block;
    font-size: 48px;
}

/*SEO highlighting in horiseon h1*/
/* Changed .header h1 .seo into h1 .seo for semantics */
h1 .seo {
    color: #d9dcd6;
    border: none;
    text-decoration: none;
}

/*Navigation bar, font position*/
/* Changed .header div into <nav> for semantics */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*header nav positioning*/
/* Removed .header div ul to remove redundancy for simplicity */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Anchor for nav*/
/* Added padding to <a> to replace unnecessary <li> used as padding */
a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 24px;
    
}

/*hover state for nav bar*/
/* Added a:hover for semantics*/
a:hover {
    text-decoration: underline;
}

/* Body of html color */
/* Moved Body under <header> in css to keep things orderly */
body {
    background-color: #d9dcd6;
}

/*Sets positioning image in the backdrop*/
/* Renamed .hero to backdrop-img for better description of class */
.backdrop-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* image optimization */
/* added for further optimization */
img {
    image-rendering: optimizeSpeed;
    image-resolution: 72dpi;
}

/* Main of html */
/* Changed .content into <main> for semantics */
/* Moved main under body in css to keep things orderly */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*positions sections from left*/

.float-left {
    float: left;
    margin-right: 25px;
    width: 300px;
    height: 200px;
}

/*positions section from right*/

.float-right {
    float: right;
    margin-left: 25px;
}

/*color,sizing,font,background-color for Search, Online & Social sections*/
/* Grouped redundant .online-reputation-management, .social-media-marketing, .search-engine-optimization into .social */
.social {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sizing for img that are child to social*/

.social img {
    max-height: 200px;
}

/*titles for sections*/
/* Changed & grouped redundant .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 into <h2> for semantics */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside positioning, color, font */
/* Changed .benefits into <aside> for semantics */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* positioning for text*/
/* Changed & grouped redundant .benefit-brand h3, .benefit-cost h3, .benefit-lead h3 into <h3> for simplicity */
h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

/* sizing for img child of aside */
/* Grouped redundant .benefit-lead img, .benefit-brand img, .benefit-cost img into .aside img for simplicity */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* alignment, font of the footer */
/* Changed .footer into footer for semantics */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*footer font size*/
/* Changed .footer h2 into footer h4 for semantics & numerical order on html */
footer h4 {
    font-size: 20px;
}

/*footer text color*/
/* added footer p style to remove unnecessary class */
footer p {
    color: black;
}